@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
 
:root{
    --blue:#3ab9e0d5;
    --white:#fff;
    --light-white:#aaa;
    --black:#3d3d3d;
    --light-bg:#4d4d4d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family:"Nunito", sans-serif;
    text-decoration: none;
 text-transform: capitalize;
}
*::selection{
    background-color: var(--white);
    color: var(--black);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
::-webkit-scrollbar{
    height: .5rem;
    width: 2rem;
}
::-webkit-scrollbar-track{
background-color: var(--black);
}
::-webkit-scrollbar-thumb{
    background-color:var(--blue);
    border-radius: 5rem;

}
::-webkit-scrollbar-button
{
 background-color: #fff;
 border-radius: 4px;   
}
body{
    background-color: var(--black);
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
  background-color: var(--light-bg);
}
.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .logo{
    font-size: 2.5rem;
    color: var(--white);
animation:leftSide  linear  1s 1 both;

}

.header .flex .logo span{
    color: var(--blue);
    font-size: 3.6rem;
}
.header .flex .navbar a{
    margin-left: 2rem;
    color: var(--white);
    font-size: 2rem;
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 20px;
    transition: .3s;
   
}
.header .flex .navbar a:hover{
    background-color: rgb(255, 255, 255);
    color: #00A9FF;
  
} 

.header .flex .navbar a.active{
    background-color:rgb(14, 50, 72) ;
}


#menu{
    cursor: pointer;
    color: var(--white);
    font-size: 3rem;
    display: none;
 
}




/* home style */

#home{
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
gap: 2rem;
}
#home h1{
    font-size: 5rem;
    line-height: 54px;
    margin-bottom: 15px;
    animation: topside  ease 1.5s 1 forwards;
}





#home p{
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 20px;
    animation:leftSide ease  1.5s 1 both;
}
#home .btn{
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 0 10px var(--blue);
 font-size: 1.6rem;
 position: relative;
 z-index: 10;
 overflow: hidden;
}
#home .btn a{
    color: #fff;
}
#home .btn::before{
    position: absolute;
    content: '';
    left: -100%;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--light-white);
    transition: .3s;
}
#home .btn:hover{
    color: #1c159b;
    box-shadow: 0 0 10px var(--white);
}
#home .btn:hover::before{
    left: 0%;
}


/* style services */
#services{
    width: 100%;
    height: 100vh;
    position: relative;
  
}
#services h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
}
.serv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;  /*make it responsive*/
  color: white;
  text-align: center;
  padding: 50px;
}
.card-title {
    color: #262626;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
  }
  
#bg-videos{
    position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  .card3 {
    position: relative;
    max-width: 300px;
    max-height:300px;
    border-radius: 10px;
    padding: 5rem 1.2rem;
    margin: 15px;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  }
  
  .card3:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #0daeac, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.38s ease-out;
  }
  
  .card3:hover:before {
    transform: scale(26);
  }
  
  .card3:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card3:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }

  /* footer style */

  footer{
    width: 100%;
    height: 10vh;
    background: var(--light-white);
  }
  .foter{
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .foter h1{
    color: var(--white);
    font-size:3rem;
  }
  .foter p{
    font-size: 1.2rem;
    font-weight: 700;
  }
  .icons i{
    margin-right: 25px;
    font-size: 3rem;
    padding: 10px 15px;
    background: var(--blue);
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }

  /* course style */

  

  .courses{
    position: relative;
    width: 100%;
height: 100vh;
    background: url(image/sbg.jpg);
    padding-top: 100px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 20px;

}
.courses h1{
    font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
    color: #000;
  
}


.parent{
    width: 100%;
    height: 120%;
    display: flex;
justify-content: space-around;
  align-items: center;   
}
.card{
   width: 300px;
 background: #68b3d9;
 padding: 10px;
 padding-bottom: 30px;
 border-radius: 20px;
 text-align: center;
 transition: .3s;
}
.card:hover{
    background-color: rgb(18, 104, 162);
    transform: scale(1.1);
    border: solid 2px #fff;
    color: #fff;
}

.card h2{
    font-size: 18px;
}

.card p{
    font-size: 12px;
    text-align: center;
}
.card .btn {
padding: 10px 40px;
background: #112b38;
border-radius: 15px;
transition: .4s;
margin-top: 20px;
}
.card .btn a{
    color: #fff;
    font-size: 18px;
}

.card .btn:hover {
background-color: #00A9FF;
}

/* style video */
.vidois{
    width: 100%;
    height: 120%;
    background:linear-gradient(180deg, rgb(26, 166, 188), rgb(31, 83, 150));
}


.vidois .parent{
    padding-top: 50px;
    width: 100%;
    height: 50%;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    gap: 4rem ;
}
.vidois .parent .one{
    width: 100%;
        padding-top: 100px;
    text-align: center;
    margin-bottom: 20px;
    
}
.one h3{
    color: #fff;
    font-size: 2rem;
}
.vidois .parent .one video{
    width: 100%;
   

}
/* contact style */

.contact{
    width: 100%;
   
}
.container{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    background-color: #000;
    border-radius: 25px;
    box-shadow: 0 0 10px #00A9FF;
    color: #fff;
padding:0 40px;

}
form h2{
    font-size: 3.3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

form .box{
    margin: 50px;
    position: relative;
}


form .box input{
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: solid 3px rgb(21, 176, 200);
    border-radius: 20px;
    color: #fff;
    font-size: 1.3rem;
    position: relative;
   
}
form .box label{
    font-size: 1.7rem;
    position: absolute;
  top: 5px;
  left: 15px;
  transition: .3s linear;
}
form .box input:focus~label,
form .box input:valid~label{
   top: -20px;
   color: #00A9FF;
}


form textarea{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: solid 3px rgb(21, 176, 200);
    border-radius: 20px;
    color: #fff;
}
form .box textarea:focus~label,
form .box textarea:valid~label{
   top: -20px;
   color: #00A9FF;
   
}

form .btn{
    width: 100%;
    padding: 14px;
    margin: 15px 0;
    background-color: #00A9FF;
    font-size: 1.8rem;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .6s;
}
form .btn:hover{
    color: #00A9FF;
    background-color: #fff;
    box-shadow: 10px 10px 10px gray;
}



/* media query */

@media screen and (max-width:991px) {
    html{
        font-size: 55%;

    }
    
}
@media screen and (max-width:768px) {
  #menu{
    display: block;
  }
  .header .flex .navbar{
    position: absolute;
    top: 99%;left: 0;
    right: 0;
    border-bottom: .1rem solid var(--light-white);
    border-top: .1rem solid var(--light-white);
background-color: var(--light-bg);
  clip-path: polygon(0 0,100% 0,100% 0%,0% 0%);
}
.header .flex .navbar a{
    display: block;
    margin: 2rem;
}
.header .flex .navbar a:hover{
    color: var(--blue);
}
.header .flex .navbar.active{
    clip-path: polygon(0 0 ,100% 0,100% 100% ,0 100%);
    transition: .6s;
}

.icons i{
    margin-top: 20px;
}  
.parent{
    flex-direction: column;
    height: 100vh;
   
}
 .parent .card{
    width: 100%;
    margin-bottom: 10px;
 }
 
 .courses h1{
   display: none;
}
.vidois .parent{
    flex-direction: column;
}
.vidois .parent .one video{
    width: 100%
}
.courses{
    height: 150vh;
}

}
@media screen and (max-width:450px) {
    html{
        font-size: 50%;
        
    }
    .parent .card{
        width: 100%;
        height: 100%;
        position: relative;
        top: 60px;
    }
    
    
    
}
@media screen and (max-width:426px) {
    

    .courses{
        height: 200vh;
    }
    .parent .card{
        width: 100%;
        height: 100%;
        position: relative;
        top: 200px;
    }
    
}
@media screen and (max-width:810px) {
  
    #home{
        flex-direction: column;
     margin-top: 50px;
     
    }
   .header .flex .navbar a{
    background-color: transparent;
  }
 
    
}


/* animation code */
@keyframes leftSide {


    0%{
opacity: 0;
transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes topside {

    0%{
        opacity: 0;
        transform: translateY(-400px);
    }
    25%{
        opacity: .2;
       
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}







